name: "Enable Ubuntu Pro in LXD VM"
on: push
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Setup LXD
      uses: canonical/setup-lxd@main
      with:
        channel: latest/edge
    - name: Launch VM
      run: |
        lxc launch ubuntu:24.04 ubuntu-pro --vm
